{% extends 'admin/base.html.twig' %}

{% block title "Modification d'un utilisateur " %}

{% block body %}
<main id='admin_user_edit' class='admin_crud_edit'>
    <div class='header'>
        <h2>Modification d'un utilisateur</h2>
    </div>
    <div class='form'>
    {{ form_start(form) }}
        <div class='grid-two'>
            <div class='input-text'>
                <label>Nom :</label>
                {{ form_widget(form.last_name)}}
            </div>
            <div class='input-text'>
                <label>Prénom :</label>
                {{ form_widget(form.first_name)}}
            </div>
        </div>
        <div class='input-text'>
            <label>Adresse mail :</label>
            {{ form_widget(form.email)}}
        </div>
        <div class='input-text input-roles'>
            <label>Rôles :</label>
            {{ form_widget(form.roles)}}
        </div>
        <div class='input-text'>
            <label>Adresse :</label>
            {{ form_widget(form.address)}}
        </div>
        <div class='grid-two'>
            <div class='search-container department-container'>
                {{ form_widget(form.department_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='user_department'>Département :</label>
                <search-dynamic class='search-element search-dynamic'
                    data-placeholder=''
                    data-id='admin_user_department_id'
                    data-name='admin_user[department_id]'
                    data-url='/department'
                ></search-dynamic>
            </div>
            <div class='search-container city-container'>
                {{ form_widget(form.city_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='user_city'>Ville :</label>
                <search-dynamic class='search-element search-dynamic'
                    data-placeholder=''
                    data-id='admin_user_city_id'
                    data-name='admin_user[city_id]'
                    data-url='/city'
                ></search-dynamic>
            </div>
        </div>
        <div class='submit'>
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
    </div>
</main>

{% endblock %}