{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% block body %}
    <main id='account' class='account'>
        <h2>Mon compte</h2>
        <div class='account-container'>
            <section class='account-menu'>
                <a href='{{ path('auth_account') }}' class='active'>Paramètres du compte</a>
                <a href=''>Mes locations</a>
            </section>
            <section class='account-info'>
                <div class='user-info'>
                    <h4>Informations générales</h4>
                    <form class='user-info-inputs' action="{{ path('user_change_identity') }}" method='POST'>
                        <div class='user-identity grid-two'>
                            <section class='last-name input-text'>
                                <label for='last-name-input'>Nom</label>
                                <input type='text' id='last-name-input' name='last_name' value='{{ user.last_name }}' required>
                            </section>
                            <section class='first-name input-text'>
                                <label for='first-name-input'>Prénom</label>
                                <input type='text' id='first-name-input' name='first_name' value='{{ user.first_name }}' required>
                            </section>
                        </div>
                        <div class="user-email">
                            <section class='email input-text'>
                                <label for='email-input'>Adresse mail</label>
                                <input type='email' id='email-input' name='email' value='{{ user.email }}' required>
                            </section>
                            <div class='submit-input-identity'>
                                <button type='submit' class='btn btn-success'>Valider</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class='user-address'>
                    <h4>Adresse</h4>
                    <form class='user-address-inputs' action='{{ path('user_change_address') }}' method='POST'>
                        <section class='address input-text'>
                            <label for='address-input'>Adresse</label>
                            <input type='text' id='address-input' name='address' value='{{ user.address }}' disabled>
                        </section>
                        <div class="grid-two">
                            <section class='city input-text'>
                                <label for='city-input'>Ville</label>
                                <js-search-dynamic
                                    data-placeholder='Ville'
                                    data-id='city-input'
                                    data-name='city_id'
                                    data-type='city'
                                    data-selected="{{ user.city }}"
                                ></js-search-dynamic>
                            </section>
                            <section class='department input-text'>
                                <label for='department-input'>Département</label>
                                <js-search-dynamic
                                    data-placeholder='Departement'
                                    data-id='department-input'
                                    data-name='department_id'
                                    data-type='department'
                                    data-selected="{{ user.department }}"
                                ></js-search-dynamic>
                            </section>
                        </div>
                        <div class='submit-input-address'>
                            <button type='button' class='btn btn-info'>Modifier</button>
                            <button type='submit' class='btn btn-submit btn-success'>Valider</button>
                            <button type='button' class='btn btn-warning'>Annuler</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </main>
{% endblock %}