{% extends "base.html.twig" %}

{% block title 'Trouver ma location' %}

{% block body %}
    <main id="rent_step_1">
        {{ form_start(form, {'attr': {'class' : 'rent_step_1_form'}})}}
            <div class="container">
                <h4>Réserver votre véhicule dès maintenant.</h4>
                <div class="container-input">
                    <section class="office-selector">
                            <div class="search-container office-pickup">
                                {{ form_widget(form.pickup_office, {'attr': {'class': 'hidden-type'}})}}
                                <label for="pickup_office">Agence de départ :</label>
                                <search-dynamic class='search-element search-dynamic'
                                    data-placeholder='Entrez une ville ou code postal'
                                    data-id='user_reservation_pickup_office'
                                    data-name='user_reservation[pickup_office]'
                                    data-url='/office'
                                ></search-dynamic>
                            </div>
                            <div class="search-container office-return">
                                <div>
                                    <input type="checkbox" id="same-return-office" checked>
                                    <label for="same-return-office">Agence de retour identique à l’agence de départ :</label>
                                </div>
                                {{ form_widget(form.return_office, {'attr': {'class': 'hidden-type'}})}}
                                <search-dynamic class='search-element search-dynamic'
                                    data-placeholder='Entrez une ville ou code postal'
                                    data-id='user_reservation_return_office'
                                    data-name='user_reservation[return_office]'
                                    data-url='/office'
                                ></search-dynamic>
                            </div>
                    </section>
                    <section class="start-date input-date">
                        <label for="start-date-input">Date de départ :</label>
                        {{ form_widget(form.pickup_date) }}
                    </section>
                    <section class="end-date input-date">
                        <label for="end-date-input">Date de retour :</label>
                        {{ form_widget(form.return_date) }}
                    </section>
                </div>
                <div class="form-button">
                    <button type='submit' class="btn btn-success" aria-label="Rechercher un véhicule">Rechercher</button>
                </div>
            </div>
        {{ form_end(form)}}
        {% cache 'step_1_tuto' %}
            <section class="tuto-container">
                <h3>Comment effectuer votre réservation ?</h3>
                <div class="tuto-content">
                    <img src="{{ asset('images/search-office-page/map.jpg') }}" width="40%" alt="map">
                    <aside>
                        <ul>
                            <li>Trouvez une agence</li>
                        </ul>
                        <p>Récuperez votre véhicule dans l’agence la plus proche de chez vous</p>
                    </aside>
                </div>
            </section>
            <section class="tuto-container">
                <div class="tuto-content">
                    <aside>
                        <ul>
                            <li>Sélectionner votre véhicule</li>
                        </ul>
                        <p>Sélectionner le véhicule de votre choix.</p>
                        <p><i>Certains véhicules ne sont disponibles qu’uniquement dans certaines agences.</i></p>
                    </aside>
                    <img src="{{ asset('images/search-office-page/map.jpg') }}" width="40%" alt="map">
                </div>
            </section>
            <section class="tuto-container">
                <div class="tuto-content">
                    <img src="{{ asset('images/search-office-page/contrat.jpg') }}" width="40%" alt="contrat">
                    <aside>
                        <ul>
                            <li>Rendez-vous dans l’agence choisi avec les documents requis.</li>
                        </ul>
                        <p>Une fois les différents documents requis fournis, vous serrez en mesure de signer votre contrat de location et ainsi récupérer votre véhicule.</p>
                    </aside>
                </div>
            </section>
            <section class="tuto-container">
                <div class="tuto-content">
                    <aside>
                        <ul>
                            <li> Profiter de votre location jusqu’à la date de retour</li>
                        </ul>
                        <p>Il est possible de retourner le véhicule dans n’importe quelles agences au sein du département d’origine.</p>
                    </aside>
                    <img src="{{ asset('images/search-office-page/moving-car.jpg') }}" width="40%" alt="voiture">
                </div>
            </section>
        {% endcache %}
    </main>
{% endblock %}