{% extends 'admin/base.html.twig' %}

{% block title "Ajouter des locations" %}

{% block body %}
<main id='admin_rent_add' class='admin_crud_create admin_rent_search'>
    <div class='header'>
        <h2>Ajouter des locations</h2>
    </div>
    <div class='form'>
    {{ form_start(form) }}
        <div class='input-text'>
            <label>Prix :</label>
            {{ form_widget(form.price)}}
        </div>
        <div class='grid-two'>
            <div class='input-date'>
                <label>Date de départ :</label>
                {{ form_widget(form.pickup_date)}}
            </div>
            <div class='input-date'>
                <label>Date de retour :</label>
                {{ form_widget(form.return_date)}}
            </div>
        </div>
        <div class='grid-two'>
            <div class='input-text pickup-office-container'>
                {{ form_widget(form.pickup_office_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='rent_pickup_office'>Agence de départ :</label>
                <js-search-dynamic
                    data-placeholder=''
                    data-id='pickup_office_input'
                    data-name='pickup_office_id'
                    data-query='/office'
                ></js-search-dynamic>
            </div>
            <div class='input-text return-office-container'>
                {{ form_widget(form.return_office_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='rent_return_office'>Agence de retour :</label>
                <js-search-dynamic
                    data-placeholder=''
                    data-id='return_office_input'
                    data-name='return_office_id'
                    data-query='/office'
                ></js-search-dynamic>
            </div>
        </div>
        <div class='grid-two'>
            <div class='input-text user-container'>
                {{ form_widget(form.user_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='rent_user'>Utilisateur :</label>
                <js-search-dynamic
                    data-placeholder=''
                    data-id='user_input'
                    data-name='user_id'
                    data-query='/user'
                ></js-search-dynamic>
            </div>
            <div class='input-text car-container'>
                {{ form_widget(form.car_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='rent_car'>Véhicule :</label>
                <js-search-dynamic
                    data-placeholder=''
                    data-id='car_input'
                    data-name='car_id'
                    data-query='/car'
                ></js-search-dynamic>
            </div>
        </div>
        <div class='input-text status-container'>
            {{ form_widget(form.status_id, {'attr': {'class': 'hidden-type'}})}}
            <label for='rent_status'>État :</label>
            <js-search-static
                data-placeholder=''
                data-id='status_input'
                data-name='status_id'
                data-query='/status'
            ></js-search-static>
        </div>
        <div class='submit'>
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
    </div>
</main>

{% endblock %}