{% extends 'admin/base.html.twig' %}

{% block title "Ajouter une location" %}

{% block body %}
<main id='admin_rent_add' class='admin_crud_create'>
    <div class='header'>
        <h2>Ajouter une location</h2>
    </div>
    <div class='form'>
    {{ form_start(form) }}
        <div class='input-text'>
            <label>Prix :</label>
            {{ form_widget(form.price)}}
        </div>
        <div class='grid-two'>
            <div class='input-date'>
                <label>Date de départ :</label>
                {{ form_widget(form.pickup_date)}}
            </div>
            <div class='input-date'>
                <label>Date de retour :</label>
                {{ form_widget(form.return_date)}}
            </div>
        </div>
        <div class='grid-two'>
            <div class='search-container pickup-office-container'>
                {{ form_widget(form.pickup_office_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='rent_pickup_office'>Agence de départ :</label>
                <search-dynamic class='search-element search-dynamic'
                    data-placeholder=''
                    data-id='admin_rent_pickup_office_id'
                    data-name='admin_rent[pickup_office_id]'
                    data-url='/office'
                ></search-dynamic>
            </div>
            <div class='search-container return-office-container'>
                {{ form_widget(form.return_office_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='rent_return_office'>Agence de retour :</label>
                <search-dynamic class='search-element search-dynamic'
                    data-placeholder=''
                    data-id='admin_rent_return_office_id'
                    data-name='admin_rent[return_office_id]'
                    data-url='/office'
                ></search-dynamic>
            </div>
        </div>
        <div class='grid-two'>
            <div class='search-container user-container'>
                {{ form_widget(form.user_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='rent_user'>Utilisateur :</label>
                <search-dynamic class='search-element search-dynamic'
                    data-placeholder=''
                    data-id='admin_rent_user_id'
                    data-name='admin_rent[user_id]'
                    data-url='/user'
                ></search-dynamic>
            </div>
            <div class='search-container car-container'>
                {{ form_widget(form.car_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='rent_car'>Véhicule :</label>
                <search-dynamic class='search-element search-dynamic'
                    data-placeholder=''
                    data-id='admin_rent_car_id'
                    data-name='admin_rent[car_id]'
                    data-url='/car'
                ></search-dynamic>
            </div>
        </div>
        <div class='search-container status-container'>
            {{ form_widget(form.status_id, {'attr': {'class': 'hidden-type'}})}}
            <label for='rent_status'>État :</label>
            <search-static class='search-element search-static'
                data-placeholder=''
                data-id='admin_rent_status_id'
                data-name='admin_rent[status_id]'
                data-url='/status'
            ></search-static>
        </div>
        <div class='submit'>
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
    </div>
</main>

{% endblock %}