<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta name=description content="Site de location de voiture d'exception">
        <link rel='shortcut icon' type='image/jpg' href='/images/favicon/icon.png'/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        {% for label, messages in app.flashes(['success', 'info', 'warning', 'error']) %}
            {% for message in messages %}
                <div class='alert alert-{{ label }}'>
                    <div class='alert-content'>
                    <span>
                    {% if label == 'success' %}
                        <svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-circle-check' width='25' height='25' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                            <path stroke='none' d='M0 0h24v24H0z' fill='none'/>
                            <circle cx='12' cy='12' r='9' />
                            <path d='M9 12l2 2l4 -4' />
                        </svg>
                    {% elseif label == 'warning' %}
                        <svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-alert-triangle' width='25' height='25' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                            <path stroke='none' d='M0 0h24v24H0z' fill='none'/>
                            <path d='M12 9v2m0 4v.01' />
                            <path d='M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75' />
                        </svg>
                    {% elseif label == 'error' %}
                        <svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-circle-x' width='25' height='25' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                            <path stroke='none' d='M0 0h24v24H0z' fill='none'/>
                            <circle cx='12' cy='12' r='9' />
                            <path d='M10 10l4 4m0 -4l-4 4' />
                        </svg>
                    {% else %} 
                        <svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-info-circle' width='25' height='25' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                            <path stroke='none' d='M0 0h24v24H0z' fill='none'/>
                            <circle cx='12' cy='12' r='9' />
                            <line x1='12' y1='8' x2='12.01' y2='8' />
                            <polyline points='11 12 12 12 12 16 13 16' />
                        </svg>          
                    {% endif %}
                    </span>
                        <p>{{ message }}</p>
                    </div>
                    <div class='alert-progress-bar'></div>
                </div>
            {% endfor %}
        {% endfor %}
        <div id='js-alert'></div>

        <main id='app'>
            {% include "admin/components/_navbar.html.twig" %}
        </main>

        {% block body %}{% endblock %}

        <footer class='footer'>
            <section class='footer-contact'>
                <h4>Nous contacter :</h4>
                <div class='footer-contact-mail'>
                    <span>
                        <svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-mail' width='35' height='35' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                            <path stroke='none' d='M0 0h24v24H0z' fill='none'/>
                            <rect x='3' y='5' width='18' height='14' rx='2' />
                            <polyline points='3 7 12 13 21 7' />
                        </svg>
                    </span>
                    <a href='#'>contact@carloc.fr</a>
                </div>
                <div class='footer-contact-phone'>
                    <span>
                        <svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-phone' width='35' height='35' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'>
                            <path stroke='none' d='M0 0h24v24H0z' fill='none'/>
                            <path d='M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2' />
                        </svg>
                    </span>
                    <a href='#'>04 05 06 07 08</a>
                </div>
            </section>
            <section class='footer-link'>
                <div><a href='#'>Politique de confidentialité</a></div>
                <div><a href='#'>Mentions générales</a></div>
                <div><a href='#'>Copyright</a></div>
            </section>
            <section class='footer-about-us'>
                <h4>A propos de nous :</h4>
                <div class='footer-about-us-link'>
                    <a href='#'>Qui sommes nous ?</a>
                    <a href='#'>Offres d’emplois</a>
                </div>
            </section>
        </footer>
    </body>
</html>
