{% extends "admin/base.html.twig" %}

{% block title 'Ajouter une ville' %}

{% block body %}
<main id='admin_city_add' class='admin_crud_create'>
    <div class="header">
        <h2>Ajouter une ville</h2>
    </div>
    <div class="form">
    {{ form_start(form) }}
        <div class="grid-two">
            <div class="input-text">
                <label>Nom :</label>
                {{ form_widget(form.name)}}
            </div>
            <div class="input-text">
                <label>Code :</label>
                {{ form_widget(form.code)}}
            </div>
        </div>
        <div class="search-container department-container">
            {{ form_widget(form.department_id, {'attr': {'class': 'hidden-type'}})}}
            <label for="city_department">Département :</label>
            <search-dynamic class='search-element search-dynamic'
                data-placeholder='Sélectionner un département'
                data-id='admin_city_department_id'
                data-name='admin_city[department_id]'
                data-url='/department'
            ></search-dynamic>
        </div>
        <div class="submit">
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
    </div>
</main>

{% endblock %}