<section id="filter-section">
    <div id="filter-section-wrapper">
        {{ form_start(form) }}
            <div class="select-container">
                {{ form_widget(form.brand_id, {'attr': {'class': 'hidden-type'}})}}
                <select-dynamic class='select-element select-dynamic'
                    data-placeholder='Marque du véhicule'
                    data-id='car_filter_brand_id'
                    data-name='car_filter[brand_id][]'
                    data-url='/brand'
                ></select-dynamic>
            </div>
            <div class="select-container">
                {{ form_widget(form.model_id, {'attr': {'class': 'hidden-type'}})}}
                <select-dynamic class='select-element select-dynamic'
                    data-placeholder='Modèle du véhicule'
                    data-id='car_filter_model_id'
                    data-name='car_filter[model_id][]'
                    data-url='/model'
                ></select-dynamic>
            </div>
            <div class="select-container">
                {{ form_widget(form.type_id, {'attr': {'class': 'hidden-type'}})}}
                <select-dynamic class='select-element select-dynamic'
                    data-placeholder='Type du véhicule'
                    data-id='car_filter_type_id'
                    data-name='car_filter[type_id][]'
                    data-url='/type'
                ></select-dynamic>
            </div>
            <div class="select-container">
                {{ form_widget(form.fuel_id, {'attr': {'class': 'hidden-type'}})}}
                <select-static class='select-element select-static'
                    data-placeholder='Énergie du véhicule'
                    data-id='car_filter_fuel_id'
                    data-name='car_filter[fuel_id][]'
                    data-url='/fuel'
                ></select-static>
            </div>
            <div class="search-container">
                {{ form_widget(form.gearbox_id, {'attr': {'class': 'hidden-type'}})}}
                <search-static class='search-element search-static'
                    data-placeholder='Boite du véhicule'
                    data-id='car_filter_gearbox_id'
                    data-name='car_filter[gearbox_id]'
                    data-url='/gearbox'
                ></search-static>
            </div>
            <div class="submit">
                {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form) }}
    </div>
</section>