{% extends 'admin/base.html.twig' %}

{% block title "Modification d'une agence" %}

{% block body %}
<main id='admin_office_edit' class='admin_crud_edit'>
    <div class='header'>
        <h2>Modification d'une agence</h2>
    </div>
    <div class='form'>
    {{ form_start(form) }}
        <div class='grid-two'>
            <div class='input-text'>
                <label>Adresse :</label>
                {{ form_widget(form.street)}}
            </div>
            <div class='input-text'>
                <label>Téléphone :</label>
                {{ form_widget(form.tel_number)}}
            </div>
        </div>
        <div class='input-text'>
            <label>Adresse mail :</label>
            {{ form_widget(form.email)}}
        </div>
        <div class='grid-two'>
            <div class='input-text department-container'>
                {{ form_widget(form.department_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='office_department'>Département :</label>
                <search-dynamic class='search-element search-dynamic'
                    data-placeholder=''
                    data-id='admin_office_department_id'
                    data-name='admin_office[department_id]'
                    data-url='/department'
                ></search-dynamic>
            </div>
            <div class='input-text city-container'>
                {{ form_widget(form.city_id, {'attr': {'class': 'hidden-type'}})}}
                <label for='office_city'>Ville :</label>
                <search-dynamic class='search-element search-dynamic'
                    data-placeholder=''
                    data-id='admin_office_city_id'
                    data-name='admin_office[city_id]'
                    data-url='/city'
                ></search-dynamic>
            </div>
        </div>
        <div class='submit'>
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
    </div>
</main>

{% endblock %}