{% extends "admin/base.html.twig" %}

{% block title 'Ajouter une energie' %}

{% block body %}
<main id='admin_fuel_add' class='admin_crud_create'>
    <div class="header">
        <h2>Ajouter une énergie</h2>
    </div>
    <div class="form">
    {{ form_start(form) }}
        <div class="grid-two">
            <div class="input-text">
                <label>Id :</label>
                {{ form_widget(form.id)}}
            </div>
            <div class="input-text">
                <label>Nom :</label>
                {{ form_widget(form.fuel)}}
            </div>
        </div>
        <div class="submit">
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
    </div>
</main>

{% endblock %}