{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% block body %}
    <main id='account' class='account'>
        <header class='header'>
            <h2>Mon compte</h2>
        </header>
        <div class='account-container'>
            {% include 'user/_menu.html.twig' with {active_class: 'user_account'} %}
            <section class='account-info'>
                <div class='user-info'>
                    <h4>Informations générales</h4>
                    {{form_start(info_form)}}
                        <div class="grid-two">
                            <div class="input-text">
                                <label for="user_last_name">Nom :</label>
                                {{ form_widget(info_form.last_name)}}
                            </div>
                            <div class="input-text">
                                <label for="user_last_name">Prénom :</label>
                                {{ form_widget(info_form.first_name)}}
                            </div>
                        </div>
                        <div class="input-text">
                            <label for="user_email">Adresse mail :</label>
                            {{ form_widget(info_form.email)}}
                        </div>
                    {{form_end(info_form)}}
                </div>
                <div class='user-address'>
                    <h4>Adresse</h4>
                    {{form_start(address_form)}}
                        <div class="input-text">
                            <label for="user_address">Adresse :</label>
                            {{ form_widget(address_form.address)}}
                        </div>
                        <div class="grid-two">
                            <div class="search-container input-text">
                                {{ form_widget(address_form.department_id, {'attr': {'class': 'hidden-type'}})}}
                                <label for="user_department">Département :</label>
                                <search-dynamic class='search-element search-dynamic'
                                    data-placeholder=''
                                    data-id='user_change_address_department_id'
                                    data-name='user_change_address[department_id]'
                                    data-url='/department'
                                ></search-dynamic>
                            </div>
                            <div class="search-container input-text">
                                <label for="user_city">Ville :</label>
                                {{ form_widget(address_form.city_id, {'attr': {'class': 'hidden-type'}})}}
                                <search-dynamic class='search-element search-dynamic'
                                    data-placeholder=''
                                    data-id='user_change_address_city_id'
                                    data-name='user_change_address[city_id]'
                                    data-url='/city'
                                ></search-dynamic>
                            </div>
                        </div>
                    {{form_end(address_form)}}
                </div>
            </section>
        </div>
    </main>
{% endblock %}